<header class="navbar navbar-fixed-top navbar-inverse">
  <div>
    <%= link_to "Skymoon", root_path, class: "logo" %>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </nav>
  </div>
</header>
